﻿@model MobileStoreBLL.SanPham

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SanPham</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sp_id)
            @Html.ValidationMessageFor(model => model.sp_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sp_name)
            @Html.ValidationMessageFor(model => model.sp_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sp_price)
            @Html.ValidationMessageFor(model => model.sp_price)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.sp_desription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sp_desription)
            <!--- @Html.ValidationMessageFor(model => model.sp_desription) -->
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_producer, "HangSanXuat")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_producer", String.Empty)
            @Html.ValidationMessageFor(model => model.sp_producer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_type, "LoaiSanPham")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_type", String.Empty)
            @Html.ValidationMessageFor(model => model.sp_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_imgLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sp_imgLink)
            @Html.ValidationMessageFor(model => model.sp_imgLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sp_status, "TinhTrangSanPham")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_status", String.Empty)
            @Html.ValidationMessageFor(model => model.sp_status)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
