﻿@model MobileStoreBLL.SanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HangSanXuat.hsx_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HangSanXuat.hsx_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiSanPham.lsp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiSanPham.lsp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_imgLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_imgLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrangSanPham.tt_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrangSanPham.tt_name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
