﻿@model MobileStoreBLL.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SanPham</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HangSanXuat.hsx_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HangSanXuat.hsx_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiSanPham.lsp_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiSanPham.lsp_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_imgLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_imgLink)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.sp_desription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.sp_desription)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrangSanPham.tt_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrangSanPham.tt_name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.sp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
