﻿@model MobileStoreBLL.SanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<head>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <!--title>Detail Product</!--title -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="~/Content/themes/foundation.min.css">
  <link rel="stylesheet" href="~/Content/themes/main.css">
  <link rel="stylesheet" href="~/Content/themes/app.css">

  <script src="~/Scripts/modernizr.foundation.js"></script>
  <script type="text/javascript" src="~/Scripts/comment.js"></script>
  
  <link rel="stylesheet" href="~/Content/themes/ligature.css">
  
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"> </script>
    <script>
        function ShowFunc(string) {
            var divid = "#div" + string
            //window.alert(divid);
            $(divid).show();
        }
        function hideFunc(string) {
            $(string).hide();
        }

        function zsubmit(tenForm, tenComentBox) {
            var nguoiDung = document.forms[tenForm]['num1'].value;
            var noidung = document.forms[tenForm]['num2'].value;
            var sp_id = document.forms[tenForm]['sp_id'].value;

            document.forms[tenForm]['num1'].value = '';
            document.forms[tenForm]['num2'].value = '';
            sp_id = document.forms[tenForm]['sp_id'].value = '';

            var now = new Date();
            $.post(g_host+"Sanpham/UpdateComment",
            {
                user: nguoiDung,
                content: noidung,
                id: sp_id
            },
            function (data, status) {
                //alert("Data: " + data + "\nStatus: " + status);
            });
            cmt = '<div class="comment"><time datetime="2011-09-15" class="post-date" pubdate="">' + now.toDateString() + '</time> <br/><span class="post-author"><a title="comment by ' + nguoiDung + '" rel="author">' + nguoiDung + '</a></span><p>' + noidung + '</p></div>';
            document.getElementById(tenComentBox).innerHTML = cmt + document.getElementById(tenComentBox).innerHTML;
        }
</script>
</head>
<body>
    <header>
              <h1 class="welcome_text">Chi tiết sản phẩm</h1>    
    </header>
      <section class="section_light">
      <div class="row">


<div class="row">
<div class="six columns">
<img src="@Url.Content(@Model.sp_imgLink)" alt="Product Image Description">
</div>

<div class="six columns">
<div class="panel">
				
				      <h3>Mô tả bên ngoài</h3>
					   <h5>Màn hình Full HD 5.0 inches</h5>
					   <h5>HĐH: Android 4.2.2 (Jerry Bean)</h5>
					   <h5>CPU: 8 nhân 1.6 Ghz</h5>
					   <h5>Camera: 13MP</h5>
					   <h5>Dung lượng pin: 2600 mAh</h5>
					   @Model.sp_desription
					<!--  <p style="font-style: italic; font-family: Georgia">Not working without a script</p>-->


       			   			   
	
	
	  <input name="unit_price" id="unit_price" value="340.00" type="hidden">
	
	  <input value="271" name="sales_price" id="total_item" type="hidden">
		  
		  
	  <p style="font-size: 24px">Giá: 15,990,000đ<span id="grandTotal"></span></p>

	</div> <!-- end panel -->

</div>
</div><!-- end row -->

<h4>Thông tin sản phẩm</h4>

    <div class="row">
      <div class="twelve columns">

      <dl class="tabs three-up">
        <dd class="active"><a href="#simple1">Tổng quan</a></dd>
        <dd><a href="#simple2">Tính năng</a></dd>
        <dd><a href="#simple3">Nhận xét của khách hàng</a></dd>
      </dl>
      
      <ul class="tabs-content">
        <li class="active" id="simple1Tab">
        <p>Có những tính năng nổi bật như sau:</p>
        <ul>
          <li>Màn hình sắc nét Full HD</li>
          <li>Vi xử lý tốc độ cao</li>
          <li>Quay phim chụp ảnh từ 2 camera cùng lúc</li>
		  <li>Hỗ trợ cử chỉ và điều khiển bằng mắt</li>
		  <li>Khả năng chịu va đập tốt</li>
        </ul>
       
            
       
        </li>
        <li id="simple2Tab">Ghi âm, nghe nhạc, kết nối wifi, blutooth, nhận diện gương mặt, nụ cười...</li>
			
		
        <li id="simple3Tab"><p><strong>Thạnh:</strong> Tuyệt vời</p> <p><strong>Thắng:</strong> Tốt nhưng giá còn cao</p> <p><strong>Thi:</strong> Thiết kế không đổi mới</p></li>
      </ul>
           <div class="wrapcmt" id="divcmt4" >
							<div id="commentbox4">
							<!-- <div class="comment">
								<time datetime="2011-09-15" class="post-date" pubdate="">Mar 9, 2012</time> <br/>
								<span class="post-author"><a title="comment by Trần Khánh Dư" rel="author">Trần Khánh Dư</a></span>
								<p>	I need to know </p>
							</div> -->
                            @foreach ( var bl in Model.BinhLuans)
                            {
                                <div class="comment">
								    <time datetime="@bl.bl_datetime.Year-@bl.bl_datetime.Month-@bl.bl_datetime.Day" class="post-date" pubdate=""> @bl.bl_datetime.ToLongDateString()</time> <br/>
								    <span class="post-author"><a title="comment by @bl.bl_name" rel="author">@bl.bl_name</a></span>
								    <p>	@bl.bl_content </p>
							    </div>
                            }
							</div>
							<form name="form4" method="post">								
									<table>
										<tr>
										    <td>Người ý kiến</td> 
										    <td><input type="text" name="num1" size="15"></td>
										</tr>			
										<tr>
										    <td>Nội dung ý kiến</td> 
										    <td><input type="text" name="num2" size="15"></td><br/>
										</tr>	
                                        <tr>
                                            <td>
                                                <input name="sp_id" id="unit_price" value="@Model.sp_id" type="hidden">	
                                            </td>	                                        	
                                        </tr>			
									</table>
									<input type="button" value="Submit" onclick="zsubmit('form4', 'commentbox4')")>
								</form>
							<!--button onclick="hideFunc(divcmt4)"> Hide comment </--button-->
						</div>
      </div>
       
    </div>

      </div>


        </section>

    		<div class = "row">
			
			
		</div>

    <p>
     @Html.ActionLink("Edit", "Edit", new { id=Model.sp_id }) |
     @Html.ActionLink("Back to List", "Index")
    </p>
</body>

