﻿@model IEnumerable<MobileStoreBLL.SanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.sp_desription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HangSanXuat.hsx_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSanPham.lsp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_imgLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangSanPham.tt_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_price)
        </td>

         <td>
            @Html.DisplayFor(modelItem => item.sp_desription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat.hsx_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSanPham.lsp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_imgLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangSanPham.tt_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.sp_id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.sp_id  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sp_id  })
        </td>
    </tr>
}

</table>

