﻿@model IEnumerable<MobileStoreBLL.SanPham>

@{
    ViewBag.Title = "Sản Phẩm";
}

<h2>Sản Phẩm</h2>
<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
    <title>Sản Phẩm</title>
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="~/Content/themes/foundation.min.css">
  <link rel="stylesheet" href="~/Content/themes/main.css">
  <link rel="stylesheet" href="~/Content/themes/app.css">

  <script src="~/Scripts/modernizr.foundation.js"></script>
  
  <link rel="stylesheet" href="~/Content/themes/ligature.css">
  
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
        <section class="section_light">
      
      <div class="row">
 
        
		<div id="container">
        @foreach(var i in Model)
        {
			<!-- photo -->
			<div class='box photo col2'>
				<a href="#"><img src="@Url.Content(@i.sp_imgLink)" alt="desc" /></a>
                <h4 style="text-align:center"><strong>@i.sp_name</strong></h4>
                <p>@i.sp_price</p>
                <p><strong>@Html.ActionLink("Details", "Details", new {  id=i.sp_id  })</strong></p> 
                 <p>@Html.ActionLink("Edit", "Edit", new {  id=i.sp_id  })</p>
                <p> @Html.ActionLink("Delete", "Delete", new { id=i.sp_id  })</p>
			</div>
        }   
			
            
			


		</div> <!-- end Masonry container -->
		</div>
        </section>
    <p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sp_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_price)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.sp_desription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HangSanXuat.hsx_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiSanPham.lsp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_imgLink)
        </th>
        <th>
         
            @Html.DisplayNameFor(model => model.TinhTrangSanPham.tt_name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sp_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_price)
        </td>

         <td>
            @Html.DisplayFor(modelItem => item.sp_desription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.HangSanXuat.hsx_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiSanPham.lsp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sp_imgLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangSanPham.tt_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.sp_id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.sp_id  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sp_id  })
        </td>
    </tr>
}

</table>
</body>

