﻿@{
    ViewBag.Title = "Contact";
}
<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Contact Page</title>
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="~/Content/themes/foundation.min.css">
  <link rel="stylesheet" href="~/Content/themes/main.css">
  <link rel="stylesheet" href="~/Content/themes/app.css">

  <script src="~/Scripts/modernizr.foundation.js"></script>
  
  <link rel="stylesheet" href="~/Content/themes/ligature.css">
  
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
       <header>
              <h1 class="welcome_text">Trang giới thiệu - liên hệ</h1>    
        </header>
     <section class="section_light">
            

      <div class="row">
        <div class="six columns">
          <h3>Giới thiệu:</h3>

          <p><strong>Đây là website cung cấp thông tin về các thiết bị di động, giúp người dùng có thể tham khảo và lựa chọn cho mình một thiết bị di động phù hợp</strong></p>
			<h3>Liên hệ:</h3>
			<p><strong>Nhóm TNT</strong></p>
		<p><strong>Lâm Phong Thạnh</strong></p>
		<p><strong>MSSV: 1012407</strong></p>
		<p><strong>Điện thoại: 01234636777</strong></p>
		<p><strong>Email: lamphongthanh1992@gmail.com</strong></p>
        </div>

        <div class="six columns">
          <h3>Địa chỉ liên lạc</h3>
          <img src="~/Images/Map.png" style="width:400px; height:400px; border:0"></img><br />
        </div>
      </div>

        </section>
        
</body>