﻿@{
    ViewBag.Title = "Home Page";
}
<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Website for Mobile Phone</title>
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="~/Content/themes/foundation.min.css">
  <link rel="stylesheet" href="~/Content/themes/footer.css">
  <link rel="stylesheet" href="~/Content/themes/main.css">
  <link rel="stylesheet" href="~/Content/themes/app.css">
  <link rel="stylesheet" href="~/Content/themes/trangchu.css">
 
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  
  <script src="~/Scripts/modernizr.foundation.js"></script>
  <link rel="stylesheet" href="~/Content/themes/ligature.css">
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
	
	<!-- ######################## Header ######################## -->
        <header>
              <h1 class="heading_supersize">TNT STORE</h1>
              <h2 class="welcome_text">Website dành cho các thiết bị di động </h2>    
        </header>
    <!-- ######################## Slider ######################## -->
	<div id="slides">
		<img src="~/Images/iphone.jpg">
		<img src="~/Images/SamSung.jpg">
		<img src="~/Images/Nokia.png">
		<img src="~/Images/ipad.png">
		<img src="~/Images/macbook.jpg">
		      <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
      <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
	</div>
	<!-- ######################## Footer ######################## -->

	<script type="text/javascript" src="javascripts/foundation.min.js"></script>
	<script type="text/javascript" src="javascripts/app.js"></script>
	<script src="javascripts/jquery.slides.min.js"></script>
	<script>
		$(function(){
		  $("#slides").slidesjs({
			width: 1000,
			height: 528,
			navigation: false,
			play: {
			  active: true,
			  auto: true,
			  interval: 4000,
			  swap: true
			}
		  });
		});
	  </script>
</body>
