﻿@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>
 
@using (Html.BeginForm("Result", "Search", FormMethod.Get))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SanPham</legend>
    
        <div class="editor-label">
            @Html.Label("Search")
        </div>
        <div class="editor-field">
            <input type="text" name="keyWord">
        </div>

        <div class="editor-label">
            @Html.Label("Giá từ")
        </div>
        <div class="editor-field">
            <input type="text" name="sp_lowestPrice">
        </div>
        <div class="editor-label">
            @Html.Label("Đến")
        </div>
        <div class="editor-field">
            <input type="text" name="sp_highestPrice">
        </div>

        <div class="editor-label">
            @Html.Label("Loại sản phẩm")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_type", String.Empty)
        </div>

        <div class="editor-label">
            @Html.Label("Nhà sản xuất")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_producer", String.Empty)
        </div>

          <div class="editor-label">
            @Html.Label("Tình trạn sản phẩm")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sp_status", String.Empty)
        </div>
        <p>
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}
