﻿@model IEnumerable<MobileStoreBLL.SanPham>

@{
    ViewBag.Title = "Result";
}
<h2>Kết quả</h2>
<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
    <title>Sản Phẩm</title>
  <!-- Included CSS Files (Compressed) -->

  <script src="~/Scripts/modernizr.foundation.js"></script>
  
  <link rel="stylesheet" href="~/Content/themes/ligature.css">
  
  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
        <section class="section_light">
      
      <div class="row">

		<div id="container">
        @if (Model != null)
        {
            foreach (var i in Model) 
            {
		    	<!-- photo -->
		    	<div class='box photo col2'>
		    		<a href="#"><img src="@Url.Content(@i.sp_imgLink)" alt="desc" /></a>
                    <h4 style="text-align:center"><strong>@i.sp_name</strong></h4>
                    <p>@i.sp_price</p>
                    <p>@Html.ActionLink("Details", "Details", new {  id=i.sp_id  })</p> 
		    	</div>
            }   
	    }
        else
        {
            <span> không có kết quả</span>
        }
		</div> <!-- end Masonry container -->
		</div>
        </section>
    <p>
    @Html.ActionLink("Create New", "Create")
</p>

</body>
